header{
    font-size: 150%;
    /*text-align: center;*/
   
}

footer{
    text-align: center;
    font-size: 80%;
    letter-spacing: 3px;
    line-height: 60px;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}