header{
    font-size: 180%;
    /*text-align: center;*/
   
}

footer{
    text-align: center;
    font-size: 80%;
    letter-spacing: 3px;
    line-height: 60px;
}
.navbar-nav {
    display: flex;
    flex-wrap: nowrap;  /* Ne törjön sorba kisebb képernyőkön sem */
    justify-content: center;  /* Középre igazítás */
    overflow-x: auto;  /* Görgetés engedélyezése, ha nem férnek el */
  }

  .navbar-nav .nav-item {
    padding: 0 20px;  /* Távolság a navigációs elemek között */
  }

  /* Kisebb képernyőkön is egysoros marad */
  @media (max-width: 768px) {
    .navbar-nav {
      overflow-x: auto;  /* Vízszintes görgetés kisebb képernyőkön */
    }
  }

body{
  min-width:500px;
  background-color:  rgb(26, 53, 53);
}
.kep{
  background-size: cover;
  background-position: center;
  width: 300px;
  padding-right: -10%;
  padding-left: -10%;
}

.card {
  border: none; /* Eltávolítja a kártya szélét */
  overflow: hidden; /* Megakadályozza, hogy a kép kicsússzon a kártyából */
}

.card-img-top {
  width: 100%; /* A kép szélessége 100% legyen */
  height: auto; /* Az arány megőrzése érdekében */
  display: block; /* Blokk szintű elem, így nincsenek margók */
  object-fit: cover; /* A kép méretezésének módosítása, hogy kitöltse a kártyát */
}
.card-container {
  display: flex; /* Ha egymás mellett szeretnéd látni a kártyákat */
  flex-wrap: wrap; /* A kártyák átcsúsznak a következő sorba, ha nem férnek el */
  justify-content: space-around; /* A kártyák eloszlása a sorban */
}
.kepR img {
  width: 100%
}
