

<div class="m-4 fw-bolder text-center " id="cim">
    <h1 >
        Rántothus
    
    </h1>
</div>



<div class="tartalom row flex-wrap row-gap-3"> 
    
    
        <div class=" col-6">
            <img src="/Frontend/Assets/kepek/desszert.jpg" class="rounded float-start " style="width: 100%;"  alt="...">
        </div>
        <div class=" col-6">
            <ul class="list-group  ">
            
                <li class="list-group-item "><h4 class="">Hozzávalók:</h4></li>
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                
            </ul>
        </div>
        <div class=" col-6">
                <ul class="list-group">
                    <li class="list-group-item"><h4 class="">Elkészitési idő:</h4></li>
                    <li class="list-group-item">6 ora</li>
                </ul>
        </div>
        <div class=" col-6">
                <ul class="list-group  ">
                    <li class="list-group-item"><h4 class="">Kaloria:</h4></li>
                    <li class="list-group-item">60000</li>
                </ul>
        </div>
            
            
        <div class=" col-12">
            <h4>Elkészités:</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore quod iusto magni minus beatae porro, rem eligendi, officia, necessitatibus optio voluptate. Placeat alias minus sint. Vero quidem nam molestias quis.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, aspernatur, voluptatibus facere porro tempore error beatae quae, officiis optio quibusdam pariatur illum et facilis saepe eligendi qui. Repellendus, distinctio similique!</p>
        
        </div>
        
        
    
    
    
</div>



