<div class="leirasR ">

    <div class="cim m-4 fw-bolder text-center ">
        ,,,
    </div>



    <div class="tartalom row flex-wrap row-gap-3"> 
            <div class=" col-6 kepR ">
               ,,,
            </div>
            <div class=" col-6 ">
                <ul class="list-group hozzavalo ">
                
                    <li class="list-group-item "><h4 class="">Hozzávalók:</h4></li>
                    
                    
                </ul>
            </div>
            <div class=" col-6 elkeszitési ">
                    <ul class="list-group ido">
                        <li class="list-group-item"><h4 class="">Elkészitési idő:</h4></li>
                        
                    </ul>
            </div>
            <div class=" col-6 ">
                    <ul class="list-group kaloria">
                        <li class="list-group-item"><h4 class="">Kaloria:</h4></li>
                        
                    </ul>
            </div>
            <div class=" col-12 SZleiras">
                <h4>Elkészités:</h4>
                
            </div>
            
            
        
        
        
    </div>

</div>

