<div class="p-3">
    <h3>Change my password</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="oldpass" placeholder="Old password">
        <label for="oldpass">Old password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="newpass" placeholder="Password">
        <label for="newpass">New password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="confirm" placeholder="Confirm password">
        <label for="confirm">Confirm new password</label>
    </div>
    <button class="btn btn-warning mb-3" onclick="updatePassword()">Update password</button>
</div>