<div class="p-3">
    <h3>Receptek felvétele</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="title" placeholder="Recept neve">
        <label for="title">Recept neve</label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Recept elkészítésének leírása" id="description" style="height: 100px"></textarea>
        <label for="description">Recept elkészítésének leírása</label>
    </div>
    <br>
    
    <form class="row">
        <div class="form-floating col-md-4">
            <input type="text" class="form-control" id="time" style="margin-top: 10px;" placeholder="Elkészítési idő">
            <label for="time" style="margin-left: 10px; margin-top: 10px;">Elkészítési idő</label>
            
        </div>
        <div class="form-floating col-md-4">
            <input type="text" class="form-control" id="calory" style="margin-top: 10px;" placeholder="Kalória">
            <label for="calory" style="margin-left: 10px; margin-top: 10px;">Kalória</label>
        </div>
        <div class="btn-group col-md-4">  
            <select class="form-select" id="catID" aria-label="Default select example" style="height: 60px; margin-top: 10px;">
                <option value="1">Előétel</option>
                <option value="2">Főétel</option>
                <option value="3">Deszert</option>
            </select>
        </div>
    </form>
    <br>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Hozzávalók" id="additions" style="height: 100px"></textarea>
        <label for="additions">Hozzávalók a recept elkészítéséhez</label>
    </div>
    <br>
    <button class="btn btn-primary mb-3" onclick="uploadfood()">Felvétel</button>
</div>