<div class="p-3">
    <h3>Receptek felvétele</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="recName" placeholder="Recept neve">
        <label for="recName">Recept neve</label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Recept elkészítésének leírása" id="leiras" style="height: 100px"></textarea>
        <label for="leiras">Recept elkészítésének leírása</label>
    </div>
    <br>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="ido" placeholder="Elkészítési idő">
        <label for="ido">Elkészítési idő</label>
    </div>
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
         
    <br>
    <button class="btn btn-primary mb-3">Felvétel</button>
</div>