<div class="p-3">
    <h3>Receptek felvétele</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="recName" placeholder="Recept neve">
        <label for="recName">Recept neve</label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Recept elkészítésének leírása" id="leiras" style="height: 100px"></textarea>
        <label for="leiras">Recept elkészítésének leírása</label>
    </div>
    <br>
    
    <form class="row">
        <div class="form-floating col-md-6">
            <input type="number" class="form-control" id="ido" placeholder="Elkészítési idő">
            <label for="ido">Elkészítési idő</label>
        </div>
        <div class="btn-group col-md-6">  
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 60px; text-align: start;">Kategória választás</button>
            <ul class="dropdown-menu">    
                <li><a class="dropdown-item" href="#">Előétel</a></li>    
                <li><a class="dropdown-item" href="#">Főétel</a></li>    
                <li><a class="dropdown-item" href="#">Deszert</a></li>  
            </ul>
        </div>
      </form>
    <br>
    <button class="btn btn-primary mb-3">Felvétel</button>
</div>